body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-gap: 50px;
  background-color: #fff;
}

.box {
  color: #fff;
  border-radius: 5px;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}